html {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before,
body,
form,
p {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

:root{
  --header-title-mobile:1rem
}



.main-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0.5rem 0.5rem;

  background-color: rgb(243, 243, 243);
}

/** ============================================================         Mobile
==============================================================

/** Menu - Header
==================================
*/
.box-menu-header{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem 1rem 0 1rem;

  background-image: url("../img/background-header.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position: 0 calc(40% + calc(30% / 2)); 
}

.boxMenu{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;

  display: flex;
  flex-direction: row;
}

.boxMenu__logo{
  flex-basis: 20%;

  display: flex;
  justify-content: center;
  align-items: stretch;
}

.boxMenu__logo img{
  width: 80%;
  height: auto;

}

.boxMenu__menu{
  flex-basis: 60%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.fa-caravan,
.fa-route,
.fa-concierge-bell,
.fa-plane,
.fa-envelope,
.fa-facebook-f,
.fa-twitter{
  color: rgb(133, 133, 133);
  font-size: 1em;
}

.menu__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu__link > a {
  display: block;
}

.boxMenu__socialMedia{
  flex-basis: 20%;

  display: flex;
  flex-direction: column;
}

/** header */

.header{
  flex-grow: 1;
  flex-basis: 100%;
  flex-shrink: 1;
  height: 5rem;
  margin-bottom: 0.8rem;

  background-color: rgba(0, 0, 0,0.1);

  display: flex;
  justify-content: center;
  align-items:center
}

.header__item{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.header__title{
  color: rgb(236, 88, 175);
  text-align: center;
  font-size: var(--header-title-mobile);
}

/** Section
==================================
*/


/** Footer
==================================
*/


/** ============================================================          Media Querie 768px
===============================================================
*/
/* @media screen and (min-width: 768px) {
  /** Menu - Header
  ==================================
  */

  
  /** section
  ==================================
  */

} */

/** ============================================================          Media Querie 1024px
===============================================================
*/

/* @media screen and (min-width: 1024px) {

} */
